{% include 'include.html' %}

<body>
  <header class="menu-bg">
    <div class="menu-site">
      <div class="menu-logo">
        <a href="#">Contabil</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li><a href="{{url_for('login.login')}}">Entrar</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="conteudo_site">
    
  </main>


  <footer class="footer-bg">
    <div class="footer-menu">
      <!-- <div class="logo">
        <img src="static/img/..." alt="..." />
      </div> -->
      <div class="copy-footer-site">
        Contabil - Todos os direitos reservados
      </div>
      <div class="contato-footer">
        <i class="bi bi-envelope-fill"></i>
        <a href="#" class="link-mail"> contato@com.br </a>
      </div>
      <div class="social-footer">
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
      </div>
    </div>
  </footer>
</body>